<form name="container-form" method="post" class="mt-4" action="/courses/handle-form-actions">
    <h3 class="">Khóa học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác({{deletedCount}})</a>

    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" value="" id="checkbox-all">
            <label for="form-check-label" for="checkbox-all">
                Chọn tất cả
            </label>
        </div>
        <select class="form-control form-control-sm checkbox-select-all-options" required name="action">
            <option value="">Hành động</option>
            <option value="delete">Xóa</option>
        </select>
        <button class="btn btn-primary btn-check-all-submit btn-sm disabled">Thực hiện</button>
    </div>

    {{!-- {{_sort}} --}}

    <div class="table mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">STT</th>
                    <th scope="col">
                        Tên khóa học
                       {{{sortable 'name' _sort}}}
                    </th>
                    <th scope="col">Trình độ
                       {{{sortable 'level' _sort}}}

                    </th>
                    <th scope="col">Thời gian tạo
                       {{{sortable 'createdAt' _sort}}}

                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr class="">
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="courseItemCheckbox" name="courseIds[]"
                                class="form-check-input" value="{{this._id}}">

                        </div>
                    </td>
                    <td scope="row">{{sum @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-warning">Sửa</a>
                        <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            data-bs-id="{{this._id}}">Xóa</a>
                    </td>
                </tr>

                {{else}}
                <tr>
                    <td collapse="5">
                        Bạn chưa đăng khóa học nào .
                        <a href="/courses/create">Đăng khóa học</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</form>

<form name="delete-course-form" method="POST"></form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" id="btn-delete-course" class="btn btn-primary">Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let courseId;
        let containerForm = document.forms['container-form'];
        let deleteForm = document.forms['delete-course-form']
        var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            courseId = button.getAttribute('data-bs-id');
            console.log(courseId);

        })
        var btnDeleteCourse = document.getElementById("btn-delete-course")
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }

        //chọn tất cả
        let checkboxAll = document.getElementById("checkbox-all");
        let checkAllSubmitBtn = document.querySelector('.btn-check-all-submit');
        let courseItemCheckbox = document.getElementsByName("courseIds[]")
        //  console.log(checkAllSubmitBtn)
        //checkbox all changed
        checkboxAll.addEventListener('change', function (e) {
            let isCheckedAll = e.target.checked;
            //  console.log(courseItemCheckbox)

            courseItemCheckbox.forEach(input => {
                input.checked = isCheckedAll;
            })

        })
        //checkbox item chagned


        courseItemCheckbox.forEach(input => {

            input.addEventListener('change', function () {


                let isChecked_All = courseItemCheckbox.length === document.querySelectorAll('input[name="courseIds[]"]:checked').length;
                //console.log(isChecked_All)
                checkboxAll.checked = isChecked_All;
                renderCheckAllSubmitBtn()

            })
        })

        //check submit form btn clicked
        /**   checkAllSubmitBtn.addEventListener('click', function (e) {
               e.preventDefault();
              // console.log(checkAllSubmitBtn)
               let isSubmittable = !checkAllSubmitBtn.classList.contains("disabled");
           
              if(isSubmittable){
               containerForm.submit();
              }
           })
           
           */
        checkAllSubmitBtn.on('submit', function (e) {
            // console.log(checkAllSubmitBtn)
            let isSubmittable = !checkAllSubmitBtn.classList.contains("disabled");

            if (!isSubmittable) {
                e.preventDefault();

            }
        })


        //re0render check all submit btn
        function renderCheckAllSubmitBtn() {
            let checkedCount = document.querySelectorAll('input[name="courseIds[]"]:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.classList.remove('disabled')
            }
            else {
                checkAllSubmitBtn.classList.add('disabled');
            }
        }
    })
</script>